# Node modules
node_modules
.svelte-kit

# Logs
logs/
*.log

# Environment files
.env

# Docker files
*.dockerfile
docker-compose.override.yml

# Build output
dist/
build/
logs/

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Other files to ignore
*.swp
*.swo